---
import { getCollection } from "astro:content"

import BaseLayout from "../layouts/BaseLayout.astro"

import ContactCTA from "../components/ContactCTA.astro"
import PostPreview from "../components/PostPreview.astro"
import Hero from "../components/Hero.astro"
import Grid from "../components/Grid.astro"

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
)
---

<BaseLayout
  title="Blog | Rafa Audibert"
  description="See what I've been writing about recently."
>
  <div class="stack gap-20">
    <main class="wrapper stack gap-8" tabindex="-1">
      <Hero
        title="Blog posts"
        tagline="See what I've been writing about recently."
        align="start"
      />
      <Grid variant="offset">
        {
          posts.map((post) => (
            <li>
              <PostPreview post={post} />
            </li>
          ))
        }
      </Grid>
    </main>
    <ContactCTA />
  </div>
</BaseLayout>
