---
import Icon from "./Icon.astro"
---

<section class="box skills">
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="terminal-window"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Full Stack</h2>
    <p>
      Love working with the entire stack, from the database and the backend all
      the way to the frontend.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="moon-stars"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Traveler</h2>
    <p>
      I love to travel and explore new places. I have been to 16 countries (17 if you include Puerto Rico)
      so far and counting. It's not much yet, but I'm growing that number quickly
      :). I am always looking for new adventures.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="strategy"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Customer Focused</h2>
    <p>My goal will always be to deliver the product the customer needs.</p>
  </div>
</section>

<style>
  .box {
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .skills p {
    color: var(--gray-400);
  }

  @media (min-width: 50em) {
    .box {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
    }

    .skills h2 {
      font-size: var(--text-2xl);
    }
  }
</style>
